/*@font-face { font-family: "Apercu"; font-weight: 400; src: url('assets/Apercu/Apercu-Regular.otf'); }

@font-face { font-family: "Apercu"; font-weight: 300; src: url('assets/Apercu/Apercu-Light.otf'); }

@font-face { font-family: "Apercu"; font-weight: 500; src: url('assets/Apercu/Apercu-Medium.otf'); }

@font-face { font-family: "Apercu"; font-weight: 600; src: url('assets/Apercu/Apercu-Bold.otf'); }*/

@font-face { font-family: "Walsheim"; font-weight: 400; src: url('assets/Walsheim/GT-Walsheim-Pro-Regular.woff'); }

/*@font-face { font-family: "Walsheim"; font-weight: 300; src: url('assets/Walsheim/GT-Walsheim-Pro-Light.woff'); }*/

@font-face { font-family: "Walsheim"; font-weight: 500; src: url('assets/Walsheim/GT-Walsheim-Pro-Medium.woff'); }

@font-face { font-family: "Walsheim"; font-weight: 600; src: url('assets/Walsheim/GT-Walsheim-Pro-Bold.woff'); }

@font-face { font-family: "Walsheim"; font-weight: 600; font-style: italic; src: url('assets/Walsheim/GT-Walsheim-Pro-Bold-Oblique.woff'); }

body, html { 
	margin: 0; 
	padding: 0; 
	/*background: #f6f6f6;*/ 
	max-width: 100%;
   overflow-x: hidden;
}
* { 
	font-family: "Walsheim", "Helvetica"; 
	font-weight: 400;
}

#main {
/*	max-width: 1200px;*/
}


#menu {
	width: 100vw;
	position: relative;
	z-index: 999;
}

#menu-logo {
	background: url('assets/logo.png');
	background-size: cover;
	width: 89px;
	height: 69px;
	position: fixed;
	left: 50%;
	margin: 20px 0 0 -44px;
}

.menu-item {
	font-size: 20px;
	color: #FF3F4C;
	font-weight: 500;
	position: fixed;
	left: 50%;
	margin-top: 60px;
}

.menu-item-selected::after {
	content: '•';
	position: absolute;
	left: calc(50% - 4px);
	top: 20px;
}

#the-app {
	margin-left: -208px;
}

#inspiration {
	margin-left: 139px;
}

#gradient {
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); 
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200px;
}

#arrow { 
	width: 40px;
	height: 40px;
	background: url('assets/arrow.png') center;
	background-size: cover;
	position: absolute;
	bottom: 10px;
	left: calc(50vw - 25px);
	z-index: 998;
}

#hero-splash {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background: url('assets/hero.jpg') center;
	background-size: cover;
	z-index: 998;
	position: relative;
}

#hero-splash-video {
	position: absolute;
  	top: 0;
  	bottom: 0;
  	width: 100%;
  	height: 100%; 
  	overflow: hidden;
}

#hero-splash-video video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#app-left {
	width: 50vw;
	padding-top: 100px;
	padding-bottom: 10vh;
}

.app-section {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-text {
	max-width: 540px;
	margin: 50px;
}

.app-text h1 {
	font-size: 48px;
	line-height: 56px;
	font-weight: 600;
	color: #071548;
	margin-bottom: 0;
/*	color: #FF3F4C;*/
}

.app-text p {
	font-size: 18px;
	line-height: 27px;
	color: #aaa;
/*	color: #071548;*/
}

@media screen and (max-width: 1200px) {
	.app-text h1 {
		font-size: 42px;
		line-height: 49px;
	}

	.app-text p {
		font-size: 16px;
		line-height: 24px;
	}
}

#app-right {
	position: fixed;
	left: 50vw;
	top: 0px;
	height: calc(100vh - 100px);
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 100vh;
}

#phone {
	width: 700px;
	height: 725px;
	background: url('assets/phone22.png');
	background-size: cover;
	position: relative;
	left: 20px;
	top: 20px;
}

#phone-block {
	width: 264px; 
	height: 435px;
	background: #111;
	position: relative;
	z-index: 99999;
	left: 156px;
	top: 190px;
	opacity: 0;
}

#phone-inset {
	width: 265px;
	height: 470px;
	overflow: hidden;

	position: absolute;

	left: 156px;
	top: 190px;
}

.inspiration-page {
	min-height: 8000px;
	box-sizing: border-box;
}

#cards-container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

#cards {
	width: 800px;
	height: 520px;

	width: 100vw;
	height: 8000px;
	position: absolute;
	top: 0;
	left: 0;
}

.inspo-section {
	width: 500px;
	background: #f6f6f6;
	padding: 55px 70px;
	box-sizing: border-box;
	color: #fff;
	top: 0;
	border-radius: 3px;
}

.inspo-section-media {
	width: 500px;
	top: 0;
	border-radius: 3px;
	overflow: hidden;
	color: #fff;
}

.media-container {
	position: relative;
}

.media-container .inspo-text {
	position: relative;
	z-index: 999;
	padding: 55px 70px;
}

.inspo-section-media img, .inspo-section-media video {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.inspo-text h1 {
	font-size: 64px; 
	line-height: 67px;
	font-weight: 600;
	margin: 0 0 25px;
}

.inspo-text p {
	font-size: 15px;
	line-height: 22px;
	margin: 0;
}

.inspo-text a, .inspo-text a:visited {
	color: #071548;
}

#card-1 {
	background: #FF4251;
	margin-left: calc((100vw - 952px)/2 + 0px);
	margin-top: calc(60px + 10vh + 0px);
	position: relative;
}

#card-2 {
	background: #D0D0D0;
	margin-left: calc((100vw - 952px)/2 + 282px);
	margin-top: calc(60px + 10vh + 184px);
	position: fixed;
}

#card-3 {
	background: #071548;
	margin-left: calc((100vw - 952px)/2 + 74px);
	margin-top: calc(60px + 10vh + 134px);
	position: fixed;
}

#card-4 {
	background: #9F52E2;
	margin-left: calc((100vw - 952px)/2 + 452px);
	margin-top: calc(60px + 10vh + 46px);
	position: fixed;
}

#card-5 {
	background: #4295FF;
	margin-left: calc((100vw - 952px)/2 + 388px);
	margin-top: calc(60px + 10vh + 170px);
	position: fixed;
}

#card-6 {
	margin-left: calc((100vw - 952px)/2 + 328px);
	margin-top: calc(60px + 10vh + 10px);
	position: fixed;
	height: 383px;
}

#card-7 {
	margin-left: calc((100vw - 952px)/2 + 188px);
	margin-top: calc(60px + 10vh + 100px);
	position: fixed;
	height: 280px;
}

#card-8 {
	margin-left: calc((100vw - 952px)/2 + 28px);
	margin-top: calc(60px + 10vh + 180px);
	position: fixed;
	height: 329px;
}

#card-9 {
	margin-left: calc(50vw - 250px);
	margin-top: calc(50vh - 250px);
	position: fixed;
	height: 500px;
}

#thanks {
	width: 500px;
	padding: 55px 70px;
	box-sizing: border-box;
	color: #071548;
	position: fixed;
	left: calc(50% - 250px);
	top: calc(50% - 180px);
}

